
* {
    font-family: "Roboto", sans-serif;
    font-weight:  300; 
    margin:  0;
}

html, body{
    height: 100vh;
    width: 100vw;
    margin: 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #2D68F5;
}

h4{
    font-size: 24px;
    font-weight: 600;
    color: #090909;
    opacity: .8;
}

p{
    font-size: 12.5px;
    color: #000000;
    opacity: .85;
    font-weight: 400;
}

label{
    font-size: 12.5px;
    color: #191919;
    font-weight: 400;
}

form{
    background-color:  #9AC4FC; 
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
    width: 500px;
    padding: 40px, 30px;

    h4{
        color:  rgba(#000, 1);
        margin-bottom: 20px;
        span {
            color:  rgba(#000, .5);
            font-weight:  700; 
        }
    }

    p{
        line-height: 155px;
        margin-bottom: 5px;
        font-size: 14px;
        opacity: .65;
        font-weight: 400;
        max-width: 200px;
        margin-bottom: 40px;
    }
} 

button{
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    margin-top: 5px;
    background-color: #2E61DB;
    color: #2E61DB;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px
    rgba(0,0,0,.13);
    border: none;
    transition: all .3s ease;
    outline: 0;  
}

input{
    font-size: 20px;
    padding: 20px 0px;
    height: 56px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

